DATABASE_URL=postgresql://neondb_owner:npg_58DesWCtETMw@ep-muddy-recipe-a48ajtjm-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
NEXT_PUBLIC_API_URL=https://ethansure-landing-page-production.up.railway.app
PAYLOAD_SECRET=78be5feddb55b7fa8ff305c4a6f67a32ca2f96f12d90a618ef7d6d56ae9b2259435f7b493633a7e291fdff33d19eb5f1
